[submodule "contrib/deterministic-build/electrum-redd-locale"]
	path = contrib/deterministic-build/electrum-redd-locale
	url = https://github.com/reddcoin-project/electrum-redd-locale
[submodule "contrib/CalinsQRReader"]
	path = contrib/osx/CalinsQRReader
	url = https://github.com/spesmilo/CalinsQRReader
[submodule "electrum_redd/www"]
	path = electrum_redd/www
	url = https://github.com/reddcoin-project/electrum-redd-http.git
