[submodule "contrib/deterministic-build/electrum-rdd-locale"]
	path = contrib/deterministic-build/electrum-rdd-locale
	url = https://github.com/reddcoin-project/electrum-rdd-locale
[submodule "contrib/CalinsQRReader"]
	path = contrib/osx/CalinsQRReader
	url = https://github.com/spesmilo/CalinsQRReader
[submodule "electrum_rdd/www"]
	path = electrum_rdd/www
	url = https://github.com/reddcoin-project/electrum-rdd-http.git
[submodule "electrum_redd/www"]
	path = electrum_redd/www
	url = ../../reddcoin-project/electrum-redd-http.git
