####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
Electrum.egg-info/
electrum_redd/locale/
.devlocaltmp/
*_trial_temp
packages
env/
.buildozer/
bin/
/app.fil
.idea
.mypy_cache
.vscode
electrum-rdd_data

# icons
electrum_redd/gui/kivy/theming/light-0.png
electrum_redd/gui/kivy/theming/light-1.png
electrum_redd/gui/kivy/theming/light.atlas

# tests/tox
.tox/
.cache/
.coverage
.pytest_cache

# build workspaces
contrib/build-wine/tmp/
contrib/build-wine/fresh_clone/
contrib/build-linux/appimage/build/
contrib/build-linux/appimage/.cache/
contrib/android_debug.keystore

# shared objects
electrum_rdd/*.so
electrum_rdd/*.so.0
electrum_rdd/*.dll
electrum_rdd/*.dylib
