# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-redd.desktop

[Desktop Entry]
Comment=Lightweight Reddcoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-redd %u"
GenericName[en_US]=Reddcoin Wallet
GenericName=Reddcoin Wallet
Icon=electrum-redd
Name[en_US]=Electrum Reddcoin Wallet
Name=Electrum Reddcoin Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum-redd
Terminal=false
Type=Application
MimeType=x-scheme-handler/reddcoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-redd --testnet %u"
Name=Testnet mode
